.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 18px 22px;;
  width: 320px;
  height: 300px;
  border-radius: 5px;
  background: #474f57;
}

.lInput{
  height: 30px;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.lButton:hover {
  background-color: #004f88;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}

.lContainer>h1{
  color: aliceblue;
  text-align: center;
}

